@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

:root {
  --color-white: #fff;
  --color-red: #e74c3c;
  --color-blue: #3498db;
  --color-green: #2ecc71;
  --color-grey: #292929;
  --color-dark-grey: #1f1f1f;
}

html,
body {
  font-family: "Ubuntu Mono", monospace;
  margin: 0;
  background: var(--color-grey);
  color: var(--color-white);
}

a {
  color: currentColor;
}

